site
docs/images/assets/depot-umsaetze-import.PNG
docs/images/assets/durch-import-angelegtes-Wertpapier.PNG
docs/images/assets/historische-kurse-verbinden.PNG
docs/images/assets/mit-portfolio-report-verknuepfen-1.PNG
docs/images/assets/mit-portfolio-report-verknuepfen-2.PNG
docs/images/assets/wertpapier-in-portfolio-report.PNG
