
.screenshot {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.05);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

.md-typeset figcaption {
	margin: 0;
	max-width: 30rem;
}

.md-typeset figure {
	text-align: left;
}

.hidden {
	display: none;
 }