
.screenshot {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.05);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

.hidden {
	display: none;
 }

figure.pp-figure {
	margin: 0; 
}

.md-typeset figcaption{
	text-align: left;
	margin: 0;
	max-width: 40rem;
}

figure.align-right {
	float: right;
	margin-top: 0;
	margin-left: 10px;
	width: 30%;
 }

 .align-right figcaption {
	text-align: left;
	margin-left: 0px;
    font-size:small;
 }

 .md-typeset pre > code {
    max-height: 15rem;
}


