
# Project information
site_name: 'Portfolio Performance Handbuch'

docs_dir: '../../docs/de'
site_dir: '../../site/de'

site_description: 'Handbuch für Portfolio Performance Software'
site_author: 'Andreas Buchen, et. al.'
site_url: 'https://help.portfolio-performance.info/de/'

repo_name: 'portfolio-performance/portfolio-help'
repo_url: 'https://github.com/portfolio-performance/portfolio-help'
edit_uri: 'tree/master/docs/de'

copyright: 'Dieses Werk ist lizenziert unter <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.'

theme:
  name: 'material'
  custom_dir: '../../overrides/'
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-night 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - content.code.annotate 
    - content.code.copy
    - navigation.expand
    - navigation.indexes
    - navigation.tabs
    - content.action.edit
  logo: 'assets/images/logo.svg'
  favicon: 'assets/images/favicon.png'
  language: 'de'

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css
  - assets/stylesheets/extra.css

extra_javascript:
  - assets/javascripts/katex.js 
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js  
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js

extra:
  alternate:  
    - name: English
      link: /en/
      lang: en
    - name: Deutsch
      link: /de/
      lang: de

  social:
    - icon: 'material/home'
      link: 'https://www.portfolio-performance.info'
    - icon: 'fontawesome/brands/github'
      link: 'https://github.com/portfolio-performance/portfolio'
    - icon: 'fontawesome/brands/twitter'
      link: 'https://twitter.com/portfolioperf'
    - icon: 'fontawesome/solid/comments'
      link: 'https://forum.portfolio-performance.info'
    - icon: 'material/bug'
      link: 'https://github.com/portfolio-performance/portfolio/issues'

plugins:
  - search:
      lang: de
  - caption:
      figure:
        caption_prefix: 'Abbildung {index}. '
        position: top
        markdown_identifier: 'Abbildung:'
      table:
        position: top
  - git-revision-date-localized:
      type: date
      custom_format: "%d. %B %Y"
      timezone: Europe/Amsterdam
      locale: de

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - tables
 
nav:
  - Intro: 
      - Intro: index.md
      - Doku Framework: doku-framework.md
  - Erste Schritte:
      - Erste Schritte: erste-schritte/index.md
      - Installation: erste-schritte/installation.md
      - Portfoliodatei anlegen: erste-schritte/intro-neue-portfoliodatei-anlegen.md
      - Wertpapiere anlegen: erste-schritte/intro-wertpapiere-anlegen.md
      - Bestände aufbauen: erste-schritte/intro-bestaende-erstmalig-aufbauen.md
      - Verwalten deines Portfolios:
        - Verwalten deines Portfolios: erste-schritte/manage-portfolio/index.md
        - Einzahlungen: erste-schritte/manage-portfolio/einzahlung.md
        - Auszahlungen: erste-schritte/manage-portfolio/auszahlung.md
        - Wertpapier Kauf: erste-schritte/manage-portfolio/kauf.md
        - Wertpapier Verkauf: erste-schritte/manage-portfolio/verkauf.md
        - Einlieferung: erste-schritte/manage-portfolio/einlieferung.md
        - Auslieferung: erste-schritte/manage-portfolio/auslieferung.md
        - Dividenden: erste-schritte/manage-portfolio/dividende.md
        - Anleihen: erste-schritte/manage-portfolio/anleihen.md
      - Auswerten deines Portfolios: erste-schritte/performance-messen.md
  - Grundlagen:
      - Grundlagen: grundlagen/index.md
      - Portfolio Performance Terminologie:  grundlagen/portfolio-performance-terminologie.md
      - Finanz Terminologie: grundlagen/finanz-termininologie.md
      - Programmübersicht: grundlagen/portfolio-performance-uebersicht.md
      - Berichtszeitraum: grundlagen/berichtszeitraum.md
      - Einstandspreis: grundlagen/einstandspreis.md
      - Performance:
        - Performance: grundlagen/performance/index.md
        - Geldgewichtete Rendite: grundlagen/performance/geld-gewichtet.md
        - Zeitgewichtete Rendite: grundlagen/performance/zeit-gewichtet.md
      - Historische Kurse: grundlagen/historische-kurse.md
  - Referenzhandbuch: 
      - Referenzhandbuch: referenzhandbuch/index.md
      - Übersicht: referenzhandbuch/menue.md
      - Datei: 
        - Neu: referenzhandbuch/datei/neu.md
        - Speichern: referenzhandbuch/datei/speichern.md
        - Importieren: referenzhandbuch/datei/import.md
        - Exportieren: referenzhandbuch/datei/export.md
        - Währung: referenzhandbuch/datei/waehrungen.md
      - Ansicht:
          - Optionen: referenzhandbuch/ansichten/optionen.md
          - Wertpapiere:
            - Alle Wertpapiere: referenzhandbuch/ansichten/wertpapiere/alle-wertpapiere.md
            - Kontextmenü: referenzhandbuch/ansichten/wertpapiere/kontext-menue.md
          - Stammdaten:
            - Stammdaten: referenzhandbuch/ansichten/stammdaten/index.md
            - Konten: referenzhandbuch/ansichten/stammdaten/konten.md
            - Depots: referenzhandbuch/ansichten/stammdaten/depots.md
            - Sparpläne: referenzhandbuch/ansichten/stammdaten/sparplaene.md
            - Alle Transaktionen: referenzhandbuch/ansichten/stammdaten/alle-transaktionen.md
          - Berichte:
            - Vermögensaufstellung: 
              - Vermögensaufstellung: referenzhandbuch/ansichten/berichte/vermoegensaufstellung/index.md
              - Vermögensaufstellung Diagramm: referenzhandbuch/ansichten/berichte/vermoegensaufstellung/vermoegensaufstellung-diagramm.md
              - Bestand: referenzhandbuch/ansichten/berichte/vermoegensaufstellung/bestand.md
            - Performance:
              - Performance: referenzhandbuch/ansichten/berichte/performance/index.md
              - Berechnung: referenzhandbuch/ansichten/berichte/performance/berechnung.md
              - Diagramm: referenzhandbuch/ansichten/berichte/performance/performance-diagramm.md
              - Wertpapiere: referenzhandbuch/ansichten/berichte/performance/wertpapiere.md
              - Zahlungen: referenzhandbuch/ansichten/berichte/performance/zahlungen.md
              - Trades: referenzhandbuch/ansichten/berichte/performance/trades.md
          - Allgemeine Daten:
            - Einstellungen: referenzhandbuch/allgemeine-daten/einstellungen.md
            - Währungen: referenzhandbuch/allgemeine-daten/waehrungen.md
      - Transaktionsmenü: 
        - Transaktionen: referenzhandbuch/transaktionen/index.md
        - Kauf & Verkauf: referenzhandbuch/transaktionen/kauf-verkauf.md
        - Ein- & Auslieferung: referenzhandbuch/transaktionen/ein-auslieferung.md
        - Umbuchung: referenzhandbuch/transaktionen/wertpapier-umbuchen.md
        - Dividende: referenzhandbuch/transaktionen/dividende.md
        - Einlage & Entnahme: referenzhandbuch/transaktionen/einlage-entnahme.md
        - Zinsen & Zinsbelastung: referenzhandbuch/transaktionen/zinsen-zinsbelastung.md
        - Steuer & Gebühren: referenzhandbuch/transaktionen/steuern-gebuehren.md
      - Online: referenzhandbuch/online.md
      - Hilfe:
        - Nach Aktualisierungen suchen: referenzhandbuch/hilfe/nach-aktualisierung-suchen.md
        - Über Portfolio Performance: referenzhandbuch/hilfe/ueber.md
        - Fehlerprotokoll: referenzhandbuch/hilfe/fehlerprotokoll.md
  - How to:
      - How-to: how-to/index.md
      - Benutzeroberfläche: how-to/benutzeroberflaeche.md
      - Quellen für historische Kurse:
          - Historische Kurse: how-to/historische-aktienkurse/index.md
          - Alpha Vantage: how-to/historische-aktienkurse/alpha-vantage.md
          - EODHistorical Data: how-to/historische-aktienkurse/eodhd.md
          - Yahoo Finance: how-to/historische-aktienkurse/yahoo-finance.md
          - Portfolio Report: how-to/historische-aktienkurse/portfolioreport.md
          - CSV File: how-to/historische-aktienkurse/csv-file.md
          - JSON: how-to/historische-aktienkurse/json.md
          - Tabelle auf einer Webseite: how-to/historische-aktienkurse/table-website.md
      - Handhabung Wahldividende: how-to/wahldividenden.md
      - Handhabung Spin-Off: how-to/spin-off.md
      - Währungen: how-to/waehrungen.md
      - Konten anlegen: how-to/konten_anlegen.md
      - Aktien Splitt: how-to/aktien-splitt.md
      - Kursdaten laden: how-to/kursdaten_laden.md
      - Buchungen erfassen: how-to/buchungen_erfassen.md
      - Portfolio Auswerten: how-to/bewertung.md
      - Gold Preise: how-to/gold-preise.md
      - GBX Daten importieren: how-to/import-gbx.md
      - Insolvenz: how-to/insolvenzen.md
      - Morningstar: how-to/morningstar.md
      - Beispiel Portfolio: how-to/reconstruct-sample-portfolio.md
      - Wertpapiere kopieren: how-to/wertpapiere-kopieren.md
      - xml bearbeiten: how-to/xml bearbeiten.md
      - Zusammenschluss zweier Firmen: how-to/zusammenschluss-zweier-firmen.md
  - Über Portfolio Performance: ueber.md
